name: Echo Message Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  echo-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print Message
        run: echo "Hello! My GitHub Action is working."
